#formation{
    background-color: var(--couleurtheme);
    color: black;
    min-height: 450px;
}
.frise{
    align-items: baseline;
    padding-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
}
.frise-trait{
    border-color: black;
}
.frise-date{
    background-color: var(--couleurnav);
    color: white;
    border: solid black;
    font-size: 18px;
}
.div_formation{
    text-decoration: none;
    color: black;
    margin: 3%;
    padding: 20px;
    width: 44%;
    border-radius: 10px;
    background-color: var(--couleurdiv);
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: 0.3s ease;
}
.div_formation:hover{
    scale: 1.05;
}
.nom_formation{
    text-align: center;
}
.lieu_formation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
}
.img_formation{
    max-height: 50px;
    background-color: white;
    padding: 5px;
    margin-right: 20px;
}