<header>
    <nav class="navbar">
        <div class="nav-logo">Nathan Marquis</div>

        <button class="menu" (click)="toggleMenu()" aria-label="Menu">
            <i class="ti" [class.ti-menu-2]="!isMenuOpen" [class.ti-x]="isMenuOpen" aria-hidden="true"></i>
        </button>

        <div class="nav-links" [class.open]="isMenuOpen">
            <a href="#about" (click)="closeMenu()">À propos</a>
            <a href="#education" (click)="closeMenu()">Formation</a>
            <a href="#experiences" (click)="closeMenu()">Expériences</a>
            <a href="#projects" (click)="closeMenu()">Projets</a>
            <a href="#skills" (click)="closeMenu()">Compétences</a>
            <a href="#contact" (click)="closeMenu()">Contact</a>
        </div>
    </nav>
</header>
