header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
nav{
    padding: 2px;
    background-color: var(--couleurnav);
    flex-wrap: nowrap;
}
nav a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    margin: 2px;
    text-align: center;
}
nav a:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: 0.7s;
}