/*A propos*/
#a_propos{
    min-height: 30svh;
}
#conteneur_a_propos{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#img_moi {
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    // background-color: white; // Optional: if image has transparency and needs white bg
    // padding: 5px; // Optional: if spacing around image is needed
    margin-bottom: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 720px){
    #img_moi{
        display: none;
    }
    #intro h1{
        padding: 0 20px 0 20px;
        color: aqua;
    }
}
