.scroll-container {
     display: flex;
     overflow-x: auto;
     flex-wrap: nowrap;
     padding: 10px;
}
.scroll-item {
    flex: 0 0 auto;
    width: 300px;
    margin: 15px;
}
.card-body-projets{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.btn{
    align-self: flex-start;
}